.my_nav_bar{
    position:sticky;
    top:'0';
    z-index: 99999;
    color:aliceblue;
}
.contact-us h1{
    text-align: center;
}
.map{
  text-align:center;
  width:100%;
}
iframe{
  width:500px;
    height: 500px;
}
.announcement{
    text-align: center;
}